<h1>Add Data</h1>
{{#if error}} <span>{{error}}</span>{{/if}}
<form method="POST" action="/data/add">
  <div class="form-group">
    <label>Transaction ID</label>
    <input type="text" name="trans_id" class="form-control" placeholder="Add ID">
  </div>
  <div class="form-group">
    <label>Fill Quantity</label>
    <input type="number" name="fill_qty" class="form-control" placeholder="Fill Quantity">
  </div>
  <div class="form-group">
    <label>Fill Price</label>
    <input type="number" name="fill_price" class="form-control" placeholder="Fill Price">
  </div>
  <div class="form-group">
    <label>Fill Flags</label>
    <input type="number" name="fill_flags" class="form-control" placeholder="Fill Flags">
  </div>
  <div class="form-group">
    <label>Inbound Order Filled</label>
    <input type="text" name="inbound_order_filled" class="form-control" placeholder="Inbound Order Filled">
  </div>
    <div class="form-group">
    <label>Currency Pair</label>
    <input type="text" name="currencyPair" class="form-control" placeholder="Currency Pair">
  </div>
  <input type="submit" class="btn btn-primary" value="Save">
</form>